<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1B00.sch"
    schematypens="http://purl.oclc.org/dsdl/schematron" ?>

<Product_Bundle xmlns="http://pds.nasa.gov/pds4/pds/v1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:pds="http://pds.nasa.gov/pds4/pds/v1" xsi:schemaLocation="http://pds.nasa.gov/pds4/pds/v1 https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1B00.xsd">

    <Identification_Area>
        <logical_identifier>urn:nasa:pds:{{ bundle_id }}</logical_identifier>
        <version_id>1.0</version_id>
        <title>{{ bundle_title }}</title>
        <information_model_version>1.11.0.0</information_model_version>
        <product_class>Product_Bundle</product_class>

        <Citation_Information>
            <author_list>{{ author_list }}</author_list>
            <publication_year>2020</publication_year>
            <doi>{{ doi }}</doi>
            <description>
                This bundle collects the {{ bundle_description }} products for the GRaND instrument on the DAWN mission.
            </description>
        </Citation_Information>

        <Modification_History>
            <Modification_Detail>
                <modification_date>2020-09-16</modification_date>
                <version_id>1.0</version_id>
                <description>
                    Initial revision.
                </description>
            </Modification_Detail>
        </Modification_History>
    </Identification_Area>

    <Context_Area>
        <Time_Coordinates>
            {% if bundle_start_date %}
            <start_date_time>{{ bundle_start_date }}</start_date_time>
            {% else %}
            <start_date_time xsi:nil="true" nilReason="unknown"/>
            {% endif %}
            {% if bundle_stop_date %}
            <stop_date_time>{{ bundle_stop_date }}</stop_date_time>
            {% else %}
            <stop_date_time xsi:nil="true" nilReason="unknown"/>
            {% endif %}
        </Time_Coordinates>

        {% if investigation %}
        <Investigation_Area>
            <name>{{ investigation.name }}</name>
            <type>{{ investigation.type }}</type>
            <Internal_Reference>
                <lid_reference>{{ investigation.lid }}</lid_reference>
                <reference_type>bundle_to_investigation</reference_type>
            </Internal_Reference>
        </Investigation_Area>
        {% end if %}

        <Observing_System>
            {% for component in observing_system %}
            <Observing_System_Component>
                <name>{{ component.component_name }}</name>
                <type>{{ component.component_type }}</type>
                {% if component.component_lid %}
                <Internal_Reference>
                    <lid_reference>{{ component.component_lid }}</lid_reference>
                    <reference_type>{{ component.lid_type }}</reference_type>
                </Internal_Reference>
                {% endif %}
            </Observing_System_Component>
            {% endfor %}
        </Observing_System>

        {% for target in targets %}
        <Target_Identification>
            <name>{{ target.name }}</name>
            <type>{{ target.type }}</type>
            {% if target.lid %}
            <Internal_Reference>
                <lid_reference>{{ target.lid }}</lid_reference>
                <reference_type>bundle_to_target</reference_type>
            </Internal_Reference>
            {% endif %}
        </Target_Identification>
        {% endfor %}
    </Context_Area>

    <Bundle>
        <bundle_type>Archive</bundle_type>
    </Bundle>

    {% for collection in collections %}
    <Bundle_Member_Entry>
        <lidvid_reference>urn:nasa:pds:{{ bundle_id }}:{{ collection.collection_id }}::1.0</lidvid_reference>
        <member_status>Primary</member_status>
        <reference_type>{{ collection.reference_type }}</reference_type>
    </Bundle_Member_Entry>
    {% endfor %}
</Product_Bundle>

